body {
    color: #25a233;
    background-color: #000;
}

#canvas {
    border: 1px solid darkgreen;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#score {
    font-family: arial, sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

@media (max-width: 500px) {
    #score {
        font-size: 1.5em;
    }
}