body {
    font-family: "courier new";
    color: #25a233;
    background-color: #000;
}

#canvas {
    border: 5px solid #006400;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#message {
    font-size: 2.5rem;
    display: none;
    margin: auto;
    position: absolute;
    height: 50px;
    width: 300px;
    top: -200px; left: 0; bottom: 0; right: 0;
}

@media (max-width: 500px) {
    #score {
        font-size: 1.5em;
    }
}